<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<p>Try to change the names.</p>

<div ng-app="myApp" ng-controller="myCtrl" >

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>

<spam ng-bind ="firstName" > </spam>
<p>
{{firstName + " " + lastName }}

</p>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {

});

var app = angular.module('myApp',[]);
app.controller('myCtrl',function($scope){

})
</script>

<div ng-init="person={name:'sagar',sirname:'gosavi'}">

<p>The name is <span > {{person.name}} {{person.sirname}}</span></p>

</div>
<div ng-init="array = ['1','2','something','4']">

<p>Array <span > {{ array[2] }}</span></p>

<script>
var a = angular.module('app_name',[]);

</script>


</div>



</div>
</body>
</html>
